node_modules
.next
/out/
config.js
.env*
.vercel
yarn-debug.log*
yarn-error.log*
# Local Netlify folder
.netlify

# next-pwa
**/public/workbox**
**/public/sw**
**/public/worker**
**/public/fallback**
**/public/precache**