@import './variables';
@import './theme';

.theme-dark .site-navigation .menu-title img {
    filter: invert(100%);
}

.theme-dark
    .site-navigation
    .menu-content-container
    .menu-avtar-container
    .my-avatar {
    background-color: $bg-dark2;
    border: $bg-dark2 5px solid;
    box-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.3),
        -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.lang-switcher {
    span {
        margin-left: 6px;
        font-size: 12px;
    }

    .lang-span {
        cursor: pointer;
        padding-bottom: 1.5px;
    }

    .lang-span.selected {
        color: $link-actived;
        font-weight: 600;
        border-bottom: 1px solid $link-actived;
    }

    @include themify($themes) {
        color: themed('textColor');
    }
}

.site-navigation {
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    color: $font-light;
    background: linear-gradient(
        to bottom,
        $white,
        rgba($color: $white, $alpha: 0.95),
        rgba($color: $white, $alpha: 0.85)
    );

    @include themify($themes) {
        color: themed('textColor');
        background: linear-gradient(
            to bottom,
            themed('headerBg'),
            rgba($color: themed('headerBg'), $alpha: 0.95),
            rgba($color: themed('headerBg'), $alpha: 0.85)
        );
    }

    .menu-title {
        font-size: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        font-weight: 500;
        width: 170px;
        border-radius: 25px;

        & a {
            text-decoration: none;
        }
    }

    .menu-btn {
        width: 50px;
        align-items: center;
        cursor: pointer;
        display: none;
    }

    .menu-theme {
        position: relative;
        margin-left: 40px;

        .theme-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            padding-top: 1px;
            margin-left: 0px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            transform-origin: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            position: relative;

            & svg {
                color: #999999;
                transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            &:hover,
            &.clicked {
                background-color: #e5e5e5;
            }

            &.clicked svg {
                color: $black;
            }

            @include themify($themes) {
                &:hover,
                &.clicked {
                    background-color: themed('menuBtnHover');
                }

                &.clicked svg {
                    color: themed('textColor');
                }
            }
        }
    }

    .menu-content-container {
        z-index: 102;
        display: flex;
        align-items: center;
        padding-right: 40px;

        .menu-avtar-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .avatar-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                border-radius: 120px;
                box-shadow:
                    -3px -3px 5px rgba(195, 200, 205, 0.09),
                    3px 3px 5px #121417;
                margin-bottom: 30px;
            }

            .my-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                background: $background;
                border: #eff3f8 5px solid;
                box-shadow:
                    -2px -2px 3px #eff3f8,
                    2px 2px 3px rgba(136, 165, 191, 0.78);
                border-radius: 50%;
            }

            .menu-avatar-name {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
                margin-left: 15px;
            }
        }

        .notification {
            display: flex;
            margin-left: 9px;
            align-items: center;
            height: 100vh;
        }
    }

    .nav {
        z-index: 2;
        height: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0 20px 0 50px;

        &.en .nav-link {
            font-weight: 600;
        }

        .nav-link {
            font-weight: 500;
            text-decoration: none;
            padding: 0 20px 0 20px;
            font-size: 20px;
            color: $link-light;

            @include themify($themes) {
                color: themed('linkColor');
            }

            &:hover {
                color: $link-actived;
            }
        }

        .nav-link.active {
            color: $link-actived;
        }
    }

    .log-ul {
        margin-left: 40px;
        padding: 0;

        & div {
            cursor: pointer;
        }

        .nav-link {
            margin-left: 8px;
            font-size: 19px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: $link-light;

            & svg {
                margin-right: 4px;
                color: $link-light;
            }

            @include themify($themes) {
                color: themed('linkColor');

                & svg {
                    color: themed('linkColor');
                }
            }

            &:hover,
            &:hover svg {
                color: $link-actived;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .site-navigation {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;

        @include themify($themes) {
            background: themed('headerBg');
        }

        & .mune-title {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        & button svg {
            width: 25px;
            height: 25px;
            color: black;

            @include themify($themes) {
                color: themed('textColor');
            }
        }

        .menu-content-container {
            width: 55vw;
            height: calc(100vh + 65px);
            background: $white;
            position: fixed;
            top: 65px;
            left: -350px;
            transition: 300ms ease left;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 0;
            z-index: 100;

            @include themify($themes) {
                background-color: rgba(
                    $color: themed('background2'),
                    $alpha: 0.97
                );
                color: themed('textColor');
            }

            a {
                width: 100%;
                padding: 0;
                letter-spacing: 3px;
                text-align: center;
            }

            li {
                height: 60px;
                display: flex;
                align-items: center;
                margin-left: 45%;
            }

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 0;
            }

            ul,
            li,
            .menu-avtar-container {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .nav {
                padding-top: 16px;

                &.no-user {
                    margin-top: 70px;
                }

                &.en {
                    align-items: flex-start;

                    & .nav-link {
                        width: max-content;
                        margin-left: 16%;
                        letter-spacing: 2px;
                    }
                }
            }

            .menu-avtar-container {
                width: calc(55vw - 36px);
                margin: 18px 0 18px;
                padding: 10px 18px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    width: max-content;
                }

                & .my-avatar {
                    margin: 0;
                    margin-left: 20px;
                    margin-bottom: 10px;
                }

                & .menu-avatar-name {
                    display: flex;
                    margin-top: 16px;
                    font-size: 20px;
                    margin-left: 10px;
                    font-family:
                        system-ui,
                        -apple-system,
                        BlinkMacSystemFont,
                        'Segoe UI',
                        Roboto,
                        Oxygen,
                        Ubuntu,
                        Cantarell,
                        'Open Sans',
                        'Helvetica Neue',
                        sans-serif;
                    font-weight: 700;
                }
            }

            &.active {
                left: 0px;
            }
        }

        .menu-btn {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu-theme {
            position: absolute;
            top: 18px;
            right: 28px;
            z-index: 10;

            & .theme-btn svg {
                width: 26px;
                height: 26px;

                @include themify($themes) {
                    color: themed('textColor');
                }
            }
        }

        .log-container {
            order: -3;
            align-self: flex-start;

            .log-ul {
                margin-left: 0;
                margin: 0 0 255px;
                padding: 0;
                height: max-content;
                width: 55vw;
                display: flex;
                justify-content: center;
                flex-direction: row;

                .nav-link {
                    width: max-content;
                    margin: 0;
                    margin-left: -10px;
                    padding: 0;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }

        .lang-switcher {
            position: absolute;
            top: 55px;
            right: 22px;
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1450px) {
    .site-navigation {
        .menu-title {
            & a {
                display: none;
            }
        }

        & .search {
            display: none;
        }
    }
}
