.overlay::before {
    transition: all ease 200ms;
    z-index: 11;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(22%, transparent),
        color-stop(43.94%, rgba(0, 0, 0, 0.00345888)),
        color-stop(65.89%, rgba(0, 0, 0, 0.014204)),
        color-stop(67.83%, rgba(0, 0, 0, 0.0326639)),
        color-stop(69.78%, rgba(0, 0, 0, 0.0589645)),
        color-stop(71.72%, rgba(0, 0, 0, 0.0927099)),
        color-stop(73.67%, rgba(0, 0, 0, 0.132754)),
        color-stop(75.61%, rgba(0, 0, 0, 0.177076)),
        color-stop(77.56%, rgba(0, 0, 0, 0.222924)),
        color-stop(79.5%, rgba(0, 0, 0, 0.267246)),
        color-stop(81.44%, rgba(0, 0, 0, 0.30729)),
        color-stop(83.39%, rgba(0, 0, 0, 0.341035)),
        color-stop(85.33%, rgba(0, 0, 0, 0.367336)),
        color-stop(87.28%, rgba(0, 0, 0, 0.385796)),
        color-stop(89.22%, rgba(0, 0, 0, 0.396541)),
        color-stop(91.17%, rgba(0, 0, 0, 0.4))
    );
    box-shadow:
        -3px -3px 5px rgb(195 200 205 / 9%),
        3px 3px 5px #121417;
}

.overlay:hover::before {
    background: transparent;
}

.post {
    display: grid;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    box-shadow:
        6px 6px 10px rgba(0, 0, 0, 0.6),
        -6px -6px 26px rgba(255, 255, 255, 0.8);

    .image-text {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
    }

    .image-title,
    .image-date,
    .tags-container,
    div {
        float: left;
        width: 100%;
        z-index: 10;
        font-weight: 300;
    }

    .image-title {
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 10px;
        color: $white;
    }

    .image-date {
        font-size: 18px;
        color: $info-dark;
    }

    &.overlay:hover {
        .image-title {
            font-weight: 600;
        }

        .image-date {
            color: $white;
        }
    }
}

.masonry {
    .post {
        height: auto;
    }

    .post.default {
        grid-area: 1/1/2/2;
    }

    .post.trending_0 {
        display: grid;
        grid-area: 1/2/3/3;
        height: auto;
    }

    .post.trending_1,
    .post.trending_2,
    .post.trending_3,
    .post.trending_4 {
        height: 180px;
    }

    .post.featured_2,
    .post.featured_3,
    .post.featured_4 {
        height: 300px;
    }

    .post.featured_0 {
        grid-area: 2/3/5/5;
        height: 650px;
    }

    .post.featured_1 {
        grid-area: 1/1/2/5;
        height: 400px;
    }

    .post.featured_4 {
        grid-area: 3/1/4/3;
    }

    .post.related_0,
    .post.related_1,
    .post.related_2 {
        height: 275px;
    }
}

@media screen and (max-width: 900px) {
    .post {
        width: 100%;
        margin: 10px 0;
        height: 300px;
    }
}
