$white: #ffffff;
$black: #000000;

$link-actived: #2997ff;

$text-color: #444444;
$background: #eff3f8;
$border: #cccccc;
$text-light: #999999;
$primary: #401f7c;
$scroll-bar: #000000;


$bg-light1: #eff3f8;
$font-light: $black;
$info-light: #474747;
$link-light: #444444;
$link-hover-light: #999999;
$menu-btn-hover-light: #e5e5e5;
$conversation-item-hovered-light: #e5e5e5;
$conversation-item-selected-light: #e7f2ff;



$bg-dark1: #444444;
$bg-dark2: #1f1f1f;
$font-dark: #efefef;
$info-dark: #c2c2c2;
$link-dark: #eff3f8;
$link-hover-dark: $white;
$menu-btn-hover-dark: #444444;
$conversation-item-hovered-dark: #2c2c2c;
$conversation-item-selected-dark: #29272e;

$themes: (
  light: (background1: $bg-light1,
    background2:$white,
    headerBg:$white,
    textColor: $font-light,
    infoColor:$info-light,
    linkColor:$link-light,
    menuBtnHover:$menu-btn-hover-light,
    conversationSelected:$conversation-item-selected-light,
    conversationHovered:$conversation-item-hovered-light ),
  dark: (background1: $bg-dark1,
    background2:$bg-dark2,
    headerBg:$black,
    textColor: $font-dark,
    infoColor:$info-dark,
    linkColor:$link-dark,
    menuBtnHover:$menu-btn-hover-dark,
    conversationSelected:$conversation-item-selected-dark,
    conversationHovered:$conversation-item-hovered-dark ),

);