.home {
    padding: 0 0 3rem 0;

    h1 {
        width: max-content;
        color: $text-color;
        padding: 1.5rem 0;
    }

    @include themify($themes) {
        background-color: themed('background1');
    }
}

.featured-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-light1;

    & > div > a {
        display: block;
        width: max-content;

        & h1 {
            color: $black;
        }
    }

    @include themify($themes) {
        background-color: themed('background1');

        & > div > a > h1 {
            color: themed('textColor');
        }
    }
}

.bg-white {
    background-color: $white;
    display: flex;
    justify-content: center;

    & .recent-container {
        & > a {
            display: block;
            width: max-content;
        }

        & .grid-pagination-container {
            & .pagination-container {
                background: $white;

                .button:first-of-type,
                .button:last-of-type {
                    background-color: $white;
                }
            }
        }
    }

    @include themify($themes) {
        background-color: themed('background2');

        & a > h1 {
            color: themed('textColor');
        }

        & .grid-pagination-container {
            & .pagination-container {
                background-color: themed('background2');

                & input {
                    background-color: themed('background1');
                    color: themed('textColor');
                }
            }
        }
    }
}

.trending-posts-container {
    display: flex;
    justify-content: center;
    background-color: $bg-light1;

    @include themify($themes) {
        background-color: themed('background1');

        & > div > a > h1 {
            color: themed('textColor');
        }
    }

    & > div > a {
        display: block;
        width: max-content;
    }
}

@media screen and (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-block-start: 1.5rem;
            margin-block-end: 1.5rem;
        }
    }

    .featured-posts-container,
    .trending-posts-container,
    .recent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 305px;

        & a {
            display: block;
            width: max-content;

            h1 {
                width: max-content;
            }
        }
    }

    .bg-white {
        width: 100%;
    }
}
