:export {
    white: #ffffff;
    black: #000000;

    link-actived: #2997ff;

    text-color: #444444;
    background: #eff3f8;
    border: #cccccc;
    text-light: #999999;
    primary: #401f7c;
    scroll-bar: #000000;

    bg-light1: #eff3f8;
    font-light: black;
    link-light: #444444;
    link-hover-light: #999999;
    menu-btn-hover-light: #e5e5e5;

    bg-dark1: #444444;
    font-dark: white;
    link-dark: #eff3f8;
    link-hover-dark: white;
    menu-btn-hover-dark: #444444;
}
